<div id="shout-list">
<% @shouts.each do |s| %>
  <ul>
    <li>
     <strong>Name:</strong> <%= s.name %> 
    </li>
    <li>
      <b>Shout:</b> <%= s.body %>
    </li>
    <li>
        <% s.comments.each do |c| %>
          <li class="comment">
            <%= c.body %>
          </li>
        <% end %>
    </li>
    <%= link_to "Comment", new_shout_comment_path(s) %>
    <%= link_to "Edit Shout", edit_shout_path(s) %>
    <%= link_to "Delete Shout", shout_path(s), :method => :delete %>
  </ul>
<% end %>

</div>
<div id="button">
  <button>
    <%= link_to "Add Shout", new_shout_path %>
  </button>
</div>